.git
.gitignore
.env
.env.backup
.env.production
/node_modules
/vendor
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
bootstrap/cache/*.php
.phpunit.result.cache
docker-compose.yml
Dockerfile
README.md
tests/
phpunit.xml
/public/hot
/public/build
/database/*.sqlite

